name: MLflow CI-CD with Conda Environment

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train-and-build-docker:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-activate-base: false
        python-version: 3.13

    - name: Show Conda Info
      shell: bash -l {0}
      run: conda info
      
    - name: Run MLflow Project for Training
      shell: bash -l {0} 
      run: mlflow run MLProject/

    - name: Read Run ID from file
      id: get_run_id
      run: echo "RUN_ID=$(cat MLProject/mlflow_run_id.txt)" >> $GITHUB_OUTPUT

    - name: Store MLflow runs as artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-runs-and-id
        path: |
          MLProject/mlruns/
          MLProject/mlflow_run_id.txt
        if-no-files-found: error

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and Push Docker image with MLflow
      run: |
        RUN_ID=${{ steps.get_run_id.outputs.RUN_ID }}
        echo "Building Docker image for Run ID: $RUN_ID"
        
        MODEL_FOLDER_NAME="tuned_model"
        
        IMAGE_NAME="${{ secrets.DOCKERHUB_USERNAME }}/workflow-ci-revenue-predictor:${RUN_ID:0:12}"
        
        mlflow models build-docker --model-uri "MLProject/mlruns/0/${RUN_ID}/artifacts/${MODEL_FOLDER_NAME}" --name "$IMAGE_NAME"

        echo "Pushing Docker image: $IMAGE_NAME"
        docker push "$IMAGE_NAME"